button { 

    color: black !important;
  background-color:black;
}
body{

    background:black;
}
active{
    color:black;
}
.jumbotron{
background: url("https://www.omnihotels.com/-/media/images/hotels/nycber/destinations/nyc-aerial-skyline.jpg?h=660&la=en&w=1170");
background-size:cover;
padding-bottom: 500px;
margin: 20px;
height: 300px;
}

row{
  background: url("https://www.omnihotels.com/-/media/images/hotels/nycber/destinations/nyc-aerial-skyline.jpg?h=660&la=en&w=1170");  
}